body,ul,ol,li,p,img,h1,h2,h3,h4,h5,h6,input,form,button {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    zoom: 1
}

img {
    vertical-align: top;
    border: 0
}

a,input[type=text] {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none
}

.toast {
    font-size: 14px;
    display: block;
    z-index: 9999;
    position: fixed;
    top: 55%;
    left: 50%;
    width: 320px;
    margin-left: -160px;
    color: #fff;
    border-radius: 5px;
    text-align: center
}

.toast span {
    border-radius: 5px;
    background: rgba(0,0,0,.7);
    display: inline-block;
    max-width: 228px;
    padding: 5px 10px;
    word-break: break-all
}

.main-product-tit {
    position: relative;
    margin-right: 0
}

.main-product-tit .header-a.choose-product {
    color: #fff;
    padding: 0;
    text-align: center;
    cursor: pointer;
    width: 134px
}

.main-product-tit .choose-product i {
    display: inline-block;
    position: relative;
    top: 4px;
    height: 17px;
    width: 16px;
    background: url(http://static.meijiaapp.com/widget/category_list/img/icon_check_c4f5a21.png) no-repeat;
    background-size: 16px 17px;
    margin-right: 6px
}

@media (-webkit-min-device-pixel-ratio:2),(-o-min-device-pixel-ratio:3/2),(min--moz-device-pixel-ratio:2),(min-device-pixel-ratio:2),(min-resolution:144dppx) {
    .main-product-tit .choose-product i {
        background-image: url(http://static.meijiaapp.com/widget/category_list/img/icon_2xcheck_68a96cd.png);
        background-size: contain
    }
}

.main-product-tit:hover .choose-product i {
    background: url(http://static.meijiaapp.com/widget/category_list/img/i-choose-hover_a78ae5e.png) 0 3px no-repeat;
    background-size: 14px 11px
}

.main-product-tit .choose-main-left-product-box {
    border: 1px solid #e5e5e5;
    width: 270px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 268px;
    z-index: 99;
    border-top: 0;
    display: none;
    box-sizing: border-box
}

.main-product-tit .choose-main-product-choose {
    background-color: #F8F8F8;
    color: #333;
    padding-left: 20px;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #F0F0F0
}

.main-product-tit .choose-main-products {
    height: 279px;
    padding: 26px 0 35px 28px
}

.main-product-tit .choose-main-products .choose-main-product-type {
    color: #333;
    font-size: 14px;
    padding-left: 27px;
    position: relative;
    line-height: 17px
}

.main-product-tit .choose-main-products .choose-main-product-type i {
    display: inline-block;
    position: absolute
}

.main-product-tit .choose-main-product-type .icon-qiangdi {
    background: url(http://static.meijiaapp.com/widget/category_list/img/icon/icon-qiangdi_48a3316.png) no-repeat;
    height: 14px;
    width: 15px;
    top: 2px;
    left: 6px
}

.main-product-tit .choose-main-product-type .icon-chuwei {
    background: url(http://static.meijiaapp.com/widget/category_list/img/icon/icon-chuwei_a78ee16.png) no-repeat;
    height: 14px;
    width: 17px;
    top: 1px;
    left: 4px
}

.main-product-tit .choose-main-product-type .icon-jiaju {
    background: url(http://static.meijiaapp.com/widget/category_list/img/icon/icon-jiaju_f9c9086.png) no-repeat;
    height: 12px;
    width: 13px;
    top: 3px;
    left: 6px
}

.choose-main-products hr {
    border-bottom: 1px dashed #e5e5e5;
    border-top: 0;
    width: 206px;
    margin-bottom: 13px;
    margin-left: 2px
}

.choose-main-products .choose-product-category {
    margin: 10px 0 5px;
    font-size: 12px;
    color: #666;
    line-height: 18px
}

.choose-main-products .choose-product-category:last-child {
    border-bottom: 0
}

.choose-main-products-a {
    display: inline-block;
    padding: 0 6px;
    background: #fff;
    margin: 0 19px 7px 0
}

.choose-main-products .choose-product-category .choose-main-products-a:hover {
    color: #fff;
    background: #f95346
}

.main-product-tit:hover .choose-product {
    color: #f95346;
    background-color: #222
}

.highlight {
    color: #f95346
}

.red-hr4 {
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 4px solid #ff2937
}

.category-i-jiancai {
    background: url(http://static.meijiaapp.com/widget/category_list/img/icon/jiancai_a230d3d.png?__sprite) no-repeat;
    width: 15px;
    height: 14px;
    margin: -2px 5px 0 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline
}

.category-i-weiyu {
    background: url(http://static.meijiaapp.com/widget/category_list/img/icon/weiyu_c7fe2cf.png?__sprite) no-repeat;
    width: 16px;
    height: 14px;
    margin: -2px 5px 0 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline
}

.category-i-chufang {
    background: url(http://static.meijiaapp.com/widget/category_list/img/icon/chufang_2dbcf8c.png?__sprite) no-repeat;
    width: 16px;
    height: 14px;
    margin: -2px 5px 0 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline
}

.category-i-jiankang {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background: url(http://static.meijiaapp.com/widget/category_list/img/icon/jiankang_2215d51.png?__sprite) no-repeat;
    width: 17px;
    height: 18px;
    margin: -2px 5px 0 0
}

.category-i-qita {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background: url(http://static.meijiaapp.com/widget/category_list/img/icon/qita_792eeb7.png?__sprite) no-repeat;
    width: 13px;
    height: 17px;
    margin: -2px 5px 0 0
}

.category-i-fuzhu {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background: url(http://static.meijiaapp.com/widget/category_list/img/icon/fuzhu_2246412.png?__sprite) no-repeat;
    width: 17px;
    height: 13px;
    margin: -2px 5px 0 0
}

.category-i-jiaju {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background: url(http://static.meijiaapp.com/widget/category_list/img/icon/jiaju_8c134d7.png?__sprite) no-repeat;
    width: 17px;
    height: 17px;
    margin: -2px 5px 0 0
}

.category-i-chuanghu {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background: url(http://static.meijiaapp.com/widget/category_list/img/icon/chuanghu_66377f0.png?__sprite) no-repeat;
    width: 15px;
    height: 15px;
    margin: -2px 5px 0 0
}

.category-i-daogou {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background: url(http://static.meijiaapp.com/widget/category_list/img/icon/daogou_ff3f17b.png?__sprite) no-repeat;
    width: 16px;
    height: 16px;
    margin: -2px 6px 0 0
}

.category-i-arrow {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    background: url(http://static.meijiaapp.com/widget/category_list/img/icon/category_i_down_90b2829.png?__sprite) no-repeat;
    width: 15px;
    height: 8px;
    position: relative;
    right: -54px;
    top: 0
}

.category-hover .category-i-arrow {
    background: url(http://static.meijiaapp.com/widget/category_list/img/icon/category_i_up_08cd35d.png?__sprite) no-repeat
}

.header-c {
    width: 100%;
    overflow: hidden
}

.header-top-bar {
    width: 100%;
    background-color: #fafafa;
    height: 34px
}

.header-top-box {
    width: 1000px;
    height: 34px;
    line-height: 34px;
    margin: 0 auto;
    color: #333;
    font-size: 14px;
    overflow: hidden
}

.i-social {
    display: inline-block;
    width: 14px;
    height: 12px;
    vertical-align: top;
    margin-top: 11px;
    margin-right: 6px
}

.i-social.weibo {
    background-image: url(http://static.meijiaapp.com/widget/header/img/i-weibo@2x_d2ec8a2.png);
    background-image: -webkit-image-set(url(http://static.meijiaapp.com/widget/header/img/i-weibo@1x_b31e2e6.png) 1x,url(http://static.meijiaapp.com/widget/header/img/i-weibo@2x_d2ec8a2.png) 2x);
    background-repeat: no-repeat;
    background-size: 14px 12px
}

.i-social.wechat {
    background-image: url(http://static.meijiaapp.com/widget/header/img/i-wechat@2x_81927b2.png);
    background-image: -webkit-image-set(url(http://static.meijiaapp.com/widget/header/img/i-wechat@1x_bcff4df.png) 1x,url(http://static.meijiaapp.com/widget/header/img/i-wechat@2x_81927b2.png) 2x);
    background-repeat: no-repeat;
    background-size: 14px 12px;
    margin-left: 16px
}

.login-box {
    float: right
}

a.header-login:hover,a.header-reg:hover {
    color: #6442ab
}

a.header-reg {
    margin-left: 8px
}

.header-banner {
    height: 116px
}

.header-banner-c {
    height: 116px;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden
}

a.best-logo {
    display: block;
    float: left;
    width: 200px;
    height: 36px;
    background-image: url(http://static.meijiaapp.com/widget/header/img/best-logo@2x_25e18f6.png);
    background-image: -webkit-image-set(url(http://static.meijiaapp.com/widget/header/img/best-logo@1x_dac16cf.png) 1x,url(http://static.meijiaapp.com/widget/header/img/best-logo@2x_25e18f6.png) 2x);
    background-repeat: no-repeat;
    background-size: 200px 36px;
    margin-top: 40px
}

.header-nav {
    float: left;
    margin-left: 25px;
    height: 116px;
    overflow: hidden
}

.header-nav li {
    float: left;
    height: 116px;
    line-height: 116px;
    margin-left: 25px
}

.header-nav li a {
    display: block;
    font-size: 16px;
    height: 113px;
    color: #333;
    padding: 0 10px;
    text-align: center
}

.header-nav li a.active {
    color: #6442ab;
    border-bottom: 3px solid #6442ab
}

.header-other {
    float: right;
    height: 116px;
    line-height: 116px
}

.i-header-phone {
    display: inline-block;
    width: 14px;
    height: 13px;
    background-image: url(http://static.meijiaapp.com/widget/header/img/i-phone@2x_f68572a.png);
    background-image: -webkit-image-set(url(http://static.meijiaapp.com/widget/header/img/i-phone@1x_8ae3247.png) 1x,url(http://static.meijiaapp.com/widget/header/img/i-phone@2x_f68572a.png) 2x);
    background-repeat: no-repeat;
    background-size: 14px 13px;
    vertical-align: top;
    margin-top: 52px;
    margin-right: 5px
}

.i-phone+span {
    color: #333;
    font-size: 14px;
    margin-right: 15px
}

a.free-listen {
    display: inline-block;
    width: 156px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #6442ab;
    border-radius: 2px;
    margin-left: 10px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

a.free-listen:hover {
    background-color: #553594
}
