/*全局样式*/
body, ul, ol, li, p, img, h1, h2, h3, h4, h5, h6, form, button, iframe {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  zoom: 1;
}
img{
  vertical-align: top;
  border:0;
}
a, input[type=text] {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    }
a, a:hover, a:active, a:visited {
    text-decoration: none;
}
.wrap{
    width: 100%;
    overflow: hidden;
    font: 12px/1.5 tahoma,arial,'Microsoft Yahei','Hiragino Sans GB',\5b8b\4f53,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
}

/*header样式 开始*/
.header{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}
.header.active{
    border-bottom: none;
}
.header-top-bar {
    width: 100%;
    background-color: #f5f5f5;
    height: 36px;
    border-bottom: 1px solid #eee;
}
.header-top-box {
    width: 1000px;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
    color: #666;
    font-size: 12px;
    overflow: hidden
}
.tip-hi{
    float: left;
}
a.cur-address{
    display: block;
    color: #666;
    float: left;
    margin-left: 14px;
}
.login-box {
    float: right;
}
.login-box a{
    color: #666;
}
a.header-login:hover,a.header-reg:hover {
    color: #333
}
a.header-reg {
    margin-left: 8px
}
.header-banner {
    height: 80px;
}
.header-banner-c {
    height: 80px;
    width: 1000px;
    margin: 0 auto;
    overflow: hidden
}
a.best-logo {
    display: block;
    float: left;
    width: 164px;
    height: 62px;
    background-image: url(./img/logo@2x.png);
    background-image: -webkit-image-set(url(./img/logo@1x.png) 1x,url(./img/logo@2x.png) 2x);
    background-repeat: no-repeat;
    background-size: 164px 62px;
    margin-top: 9px;
}
.header-nav {
    float: left;
    margin-left: 47px;
    height: 80px;
    overflow: hidden
}
.header-nav li {
    float: left;
    height: 80px;
    line-height: 80px;
    margin-left: 27px
}
.header-nav li a {
    display: block;
    font-size: 16px;
    height: 60px;
    color: #333;
    padding: 0 9px;
    text-align: center
}
.header-nav li a.active {
    border-bottom: 2px solid #ff1632
}
.header-other {
    float: right;
    height: 80px;
    line-height: 84px
}
.i-header-phone {
    display: inline-block;
    width: 22px;
    height: 23px;
    background-image: url(./img/i-phone@2x.png);
    background-image: -webkit-image-set(url(./img/i-phone@1x.png) 1x,url(./img/i-phone@2x.png) 2x);
    background-repeat: no-repeat;
    background-size: 22px 23px;
    vertical-align: top;
    margin-top: 32px;
    margin-right: 7px
}
.i-header-phone+span {
    color: #333;
    font-size: 18px;
    margin-right: 128px
}
a.btn-merchant{
    display: inline-block;
    width: 94px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    font-size: 14px;
    color: #666;
    border-radius: 4px;
    border: 1px solid #ccc;
    vertical-align: top;
    margin-top: 25px;
    margin-left: 10px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}
a.btn-merchant:hover {
    border: 1px solid #aaa;
}
/*header样式 结束*/


/*index2样式 开始*/
.banner-box{
    width: 100%;
    height: 600px;
    background: url(./img/banner.jpg) no-repeat center center;
    overflow: hidden;
}
.banner-c{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}
img.slogan{
    display: block;
    width: 830px;
    height: 248px;
    margin: 151px auto 0;
}
a.btn-apply{
    width: 206px;
    height: 62px;
    border-radius: 2px;
    display: block;
    margin: 0px auto 0;
    background-color: rgba(0, 184, 107, 0.9);
    color: #fff;
    line-height: 62px;
    text-align: center;
    font-size: 20px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}
a.btn-apply:hover {
    background-color: rgba(0, 184, 107, 1);
}
.brand-cover{
    width: 100%;
    overflow: hidden;
    height: 740px;
}
.brand-cover-c{
    width: 1000px;
    height: 740px;
    margin: 0 auto;
    overflow: hidden;
}
.title-box{
    overflow: hidden;
}
.title-box h2{
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    margin-top: 100px;
}
.title-box em{
    display: block;
    margin: 21px auto 0;
    width: 67px;
    height: 2px;
    background-color: #333;
}
.title-box p{
    font-size: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}
.title-box.bot{
    color: #fff;
}
.title-box.bot em{
    background-color: #fff;
}
.category-list{
    padding: 0 110px;
    box-sizing: border-box;
    margin-top: 53px;
    overflow: hidden;
}
.category-list li{
    width: 110px;
    height: 160px;
    float: left;
    margin-left: 113px;
    margin-top: 30px
}
.category-list li:nth-child(4n+1){
    margin-left: 0;
}
.category-show{
    width: 110px;
    height: 110px;
    background: url(./img/i-category.png) no-repeat center top;
}
.category-list li:nth-child(1) .category-show{
    background-position: 0 0;
    background-size: 110px 880px;
}
.category-list li:nth-child(2) .category-show{
    background-position: 0 -110px;
    background-size: 110px 880px;
}
.category-list li:nth-child(3) .category-show{
    background-position: 0 -220px;
    background-size: 110px 880px;
}
.category-list li:nth-child(4) .category-show{
    background-position: 0 -330px;
    background-size: 110px 880px;
}
.category-list li:nth-child(5) .category-show{
    background-position: 0 -440px;
    background-size: 110px 880px;
}
.category-list li:nth-child(6) .category-show{
    background-position: 0 -550px;
    background-size: 110px 880px;
}
.category-list li:nth-child(7) .category-show{
    background-position: 0 -660px;
    background-size: 110px 880px;
}
.category-list li:nth-child(8) .category-show{
    background-position: 0 -770px;
    background-size: 110px 880px;
}
.category-list li p{
    font-size: 16px;
    color: #666;
    text-align: center;
    line-height: 16px;
    margin-top: 22px;
}
.step{
    width: 100%;
    overflow: hidden;
    background: url(./img/bot-banner.jpg) no-repeat center center;
}
.step-c{
    width: 1000px;
    height: 673px;
    margin: 0 auto;
}
.step-list{
    padding: 0 160px;
    box-sizing: border-box;
    margin-top: 80px;
    overflow: hidden;
}
.step-list li{
    width: 106px;
    height: 180px;
    float: left;
    margin-left: 180px;
    margin-top: 0px
}
.step-list li:first-child{
    margin-left: 0;
}
.step-show{
    width: 106px;
    height: 119px;
    background: url(./img/i-step.png) no-repeat center top;
}
.step-list li:nth-child(1) .step-show{
    background-position: 0 0;
    background-size: 106px 357px;
}
.step-list li:nth-child(2) .step-show{
    background-position: 0 -119px;
    background-size: 106px 357px;
}
.step-list li:nth-child(3) .step-show{
    background-position: 0 -238px;
    background-size: 106px 357px;
}
.step-list li p{
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 16px;
    margin-top: 23px;
}
.server-msg{
    color: #fff;
    font-size: 30px;
    margin-top: 56px;
    line-height: 30px;
    text-align: center;
}
.server-msg span{
    font-weight: 700;
}

/*index2样式 结束*/



/*footer样式 开始*/
.footer{
    height: 160px;
    background-color: #515151;
    color: #fff;
    font-size: 14px;
    overflow: hidden;
}
.footer a{
    color: #fff;
}
.bot-nav{
    overflow: hidden;
    text-align: center;
    margin-top: 34px;
}
.bot-nav li{
    display: inline-block;
    height: 14px;
    line-height: 14px;
    border-right: 1px solid #fff;
    padding: 0 10px;
}
.bot-nav li:last-child{
    border-right: none;
}
.bot-nav li a{
    color: #fff;
}

.links-info {
    width:1000px;
    margin: 27px auto 0;
    overflow:hidden;
    font-size: 12px;
}
.links-info .links-tit {
    color:#fff;
    display:block;
    float:left
}
.links-info ul {
    width:830px;
    height:auto;
    float:left;
    margin-left:20px;
    padding:0
}
.links-info ul li {
    height:12px;
    float:left;
    margin-right:20px;
    margin-bottom:10px
}
.links-info ul li a {
    margin:0;
    line-height:12px
}
.links-info .links-more {
    display:block;
    float:right;
}
.copyright{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}
a.copyright-bei{
    margin-left: 15px;
}
/*footer样式 结束*/
